
* {
    box-sizing: border-box;
} 
 /* Para móviles: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
    display: block;
}
/* Para ordenadores: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

body {    background-image: url("fondo.png");
}

.cabecera{
    color:red;
    text-align: center;
}

div.resultado, div.listapelis{
text-align: center;
}

div.resultado table, div.listapelis table {
margin: 0 auto;
text-align: left;
}

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid; }


tr:hover td { background: #d0dafd; color: #339; }

/* Formulario de Contacto, Estilo Básico
----------------------------------------------- */
/* Contenedor principal */
.formularioanadepeli {
width:100%;
max-width: 280px;
margin: 0 auto;
margin-bottom: 25px;
float: left;
padding: 10px;
background: #d5dde6;
color: #000;
border: 1px solid #C1C1C1;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
text-align: center;
}

/* Estilos de los campos */
.texto {
width: 100%;
max-width: 100%;
margin-bottom: 10px;
}

/* Botón de enviar */
.anadir {
float: right;
width: 25%;
max-width: 35%;
height: auto;
background: #28597a;
padding: 2px 5px;
border-radius: 15px;
border: none;
text-shadow: rgba(0,0,0,.4) 0 1px 0;
color: #fff;
font-size: 13px;
font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
font-weight: normal;
margin-bottom: 10px;
}
/* Botón de enviar al pasar el cursor */
.anadir:hover{
background: #4a7694;
border: none;
}