
* {
    box-sizing: border-box;
} 
 /* Para m칩viles: */
[class*="col-"] {
    width: 100%;
    float: left;
    padding: 15px;
    display: block;
    margin: 0 auto;
}
/* Para ordenadores: */
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

body {    background-image: url("fondo.png");
}



header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background:rgba(37, 41, 50, 0.22);
	margin-bottom:20px;
}
 
.wrapper {
	width:90%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho m치ximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}
 
header .logo {
	color:#f2f2f2;
	font-size:40px;
	line-height:180px;
	float:left;
}
 
header nav {
	float:right;
	line-height:180px;
}
 
header nav a {
	display:inline-block;
	color:#fff;
	text-decoration:none;
	padding:10px 10px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}
 
header nav a:hover {
	background:#f56f3a;
	border-radius:50px;
}

.header2 {
	position: fixed;
	height:100px;
        background: rgba(37, 41, 50, 0.70);
}
 
.header2 .logo {
	line-height:100px;
	font-size:30px;
}
 
.header2 nav {
	line-height:100px;
}


@media screen and (max-width: 950px) {
	header .logo,
	header nav {
		width:100%;
		text-align:center; /*Centramos el menu y el logotipo*/
		line-height:100px;
	}
 
	.header2 {
		height:auto;
	}
 
	.header2 .logo,
	.header2 nav {
		line-height:50px;
	}
}




div.bienvenida div{
    padding:10%;
    padding-top:5%;
    border: 5px solid;
    
}

div.resultado, div.listapelis{
text-align: center;
}

div.resultado table, div.listapelis table {
margin: 0 auto;
text-align: left;
}

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 60%; text-align: left;    border-collapse: collapse; }

th {     font-weight: bold ;font-size: 15px;     font-weight: normal;     padding: 18px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; }

td {    padding: 18px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid; }


tr:hover td { background: #d0dafd; color: #339; }

a.botondescarga {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    padding: 5px;
}

/* Formularios Publicar, Registrar y Iniciar Sesion
----------------------------------------------- */
/* Contenedor principal */
.formuanadepeli, .formuRegistro, .formuLogin form{
    text-align:center;
}
div.formuanadepeli, div.formuRegistro, div.formuLogin {
width:100%;
max-width: 380px;
margin: 0 auto;
margin-bottom: 25px;
padding: 30px;
background: #d5dde6;
color: #000;
border: 1px solid #C1C1C1;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
text-align: center;
}

div.formuanadepeli, div.formuRegistro, div.formuLogin form{
    margin: 0 auto;
    text-align: left;
}

/* Estilos de los campos */
.texto {
width: 100%;
max-width: 100%;
margin-bottom: 10px;
}

/* Bot칩n de enviar */
.anadir, .registrar, .autenticar {
float: right;
width: 35%;
max-width: 45%;
height: auto;
background: #28597a;
padding: 2px 5px;
border-radius: 15px;
border: none;
text-shadow: rgba(0,0,0,.4) 0 1px 0;
color: #fff;
font-size: 13px;
font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
font-weight: normal;
margin-bottom: 10px;
}
/* Bot칩n de enviar al pasar el cursor */
.anadir:hover, .registrar:hover, .autenticar:hover{
background: #4a7694;
border: none;
}

.buscador{
    text-align:center;
}
.busqueda {
    background: url(search-white.png) no-repeat 20px 12px #fcfcfc;
    border: 1px solid #d1d1d1;
    font: bold 22px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 300px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    text-align:center;
    }

.busqueda:focus {
    width: 400px;
    }
    
.buscadmin form{
        text-align:center;
    }    
.buscadmin p{
        text-align: center;
}
    
.webienvenida div{
    border: solid;
    margin: 50px;
    padding: 50px;
    text-align: center;
}